
 ignore all root items (files and folders)
/*

# unignore Python code files
!*.py

# unignore folders
!src

# unignore submoduel
!ve

# unignore data folder
!data/

# unignore files
!.gitignore
!README.md
